.bg-primary {
    background: #ff87ab !important;
}
.bg-secondary {
    background: #cfbaf0 !important;
}
.bg-third {
    background: #90dbf4 !important;
}
.bg-fourth {
    background: #ffd8be !important;
}
.bg-five {
    background: #b3e9c7 !important;
}
.bg-sixe {
    background: #9bf6ff !important;
}