.bg-primary {
    background: #F06292 !important;
}
.bg-secondary {
    background: #BA68C8 !important;
}
.bg-third {
    background: #4FC3F7 !important;
}
.bg-fourth {
    background: #FF8A65 !important;
}
.bg-five {
    background: #81C784 !important;
}